.navigation-bar {
  .notify-wrapper {
    width: 40px;
    height: 40px;
    background-color: #ffffff1a;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    &:hover {
      background-color: #ffffff10;
    }
    .bi-bell {
      font-size: 20px;
      z-index: 3;
    }
  }

  .avatar-user {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
}
